li {
    color: #810d0d;
    display: block;
    text-align: left;
    font-family: arial, sans-serif;
    font-size: 12px font-weight 400 height 48px line-height 16px padding-left 9px;
}
.weather-app {
    font-family:"Quick",sans-serif ;
    max-width: 800px;
    margin: 150px auto;
border: none  ;
border-radius: 25px;
padding: 20 px;
background-color: rgba(242, 216,216,0.2);
}
.shadow {
    max-width: 900px;
    margin: 150px auto;
}
#description::first-letter{
    text-transform: capitalize;
}
body{font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position:center ;
    background-color: aqua;
    background-repeat:no-repeat ;
}
.elements{
    margin-top: 0;

}
a #farenheit,
a #celsius{
    text-decoration: none;
}
a:hover{ 
    cursor: default;
}
a {
    text-decoration: none;
}
a.active{color: black;
text-decoration: none;
}
h1{
    color: blue;
    display: block;
    font-family: "google sans",arial,sans-serif;
    font-size: 40px;
    font-weight: 600;
    height: 26px;
    line-height: 48px;
    text-align: left;
    margin:20px 0 10px;
}
p {
    color: bisque;
    display: block;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0;
}
.weather{
    margin-top: 20px;
    text-align: center;
}
.cloud{
    color: bisque;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400 ;
    height: 60px;
    margin-top: 0px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    vertical-align: top;
    width: 60px;;
}
.temp{
    color: bisque;
    display: inline;
    font-family: "G00gle" Sans-serif ,sans-serif;
    font-size: 40px;
    font-weight: 400;
    height: auto;
    line-height: 56px;
    margin-left: 0;
}
input{
    margin-bottom: 10px;
}
ul{
    margin: 0;
    padding: 0px;
}
.deg{
color: bisque;
display: inline-block;
font-family:arial, sans-serif;
font-size: 16px;
font-weight: 400;
height: 24px;
line-height: 24px;
margin-top: 6px;
vertical-align: top;
}
.forcast-days{
    display:inline-flex;
    justify-content: space-between;
    gap: 0;
    list-style: none;
}
    
    .forcast-temp{
    font-size: 13px;
}
.forcast-temp .low{
    color: aqua;
}
.highlight{
    background-color: #2D27FF #FF0A6C;
    font-weight: bold;
    padding: 16px;
    box-sizing: border-box;
}
col input{
    border-radius: 30px;
    background: #33408a;
}
.col-9 input{
    border-radius: 10px;
    border:1px solid #33408a ;
}
small{
    color: aqua;
}